<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajan.e_commarce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.Splash"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Signup"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Product_full_Detail"
            android:label="@string/title_activity_product_full__detail" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.Cart" />
        <activity android:name=".Activity.Remove"></activity>
        <activity android:name=".Activity.MyAccount"/>
    </application>

</manifest>
